* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-size: 1.5;
  font-family: sans-serif;

  // part of header Start

  .background {
    background-image: linear-gradient(
      to right,
      #0000ffc7,
      rgb(175 0 255 / 63%)
    );
    display: flex;
    .wrapper {
      margin: auto;
      max-width: 1400px;
      display: flex;
      flex-direction: column;

      header {
        // align-items: center;
        // display: flex;
        img {
          height: 48px;
        }

        nav {
          padding: 24px;
          display: flex;
          position: relative;
          align-items: center;
          height: 64px;
          position: sticky;
          // width: 1400px;
          .buttonimg {
            display: none;
          }
          .right {
            position: absolute;
            right: 20px;
            gap: 24px;
            display: flex;
            align-items: center;
            a {
              text-decoration: none;
              color: white;
              // display: flex;
            }
            button {
              //   height: px;
              margin: 0 20px 0 20px;
              font-size: 16px;
              padding: 8px 24px 8px 24px;
              border: 3px solid white;
              border-radius: 5px;
              background-color: rgb(156, 64, 255);
              color: white;
              cursor: pointer;
            }
          }
        }
        .navbottom {
          display: flex;
          // height: 600px;
          padding: 48px;
          .left {
            width: 50%;
            padding: 84px 0px 48px 84px;
            flex-direction: column;
            gap: 24px;
            display: flex;
            // align-items: center;
            // justify-content: center;
            h1 {
              margin: 0;
              padding: 0;
              display: flex;
              font-size: 48px;
              color: white;
            }
            p {
              margin: 0;
              padding: 0;
              display: flex;
              font-size: 18px;
              color: white;
            }
            .btntop {
              // height: 48px;
              display: flex;
              gap: 12px;
              // flex-direction: column;
              button {
                // height: 100%;
                background-color: transparent;
                font-size: 18px;
                font-weight: bold;
                padding: 8px 24px;
                color: white;

                // border: none;
              }
              button:hover {
                background-color: #fe6201c4;
                color: black;
                cursor: pointer;
              }
            }
            .phone {
              display: none;
            }
          }
          .right {
            // padding: 64px;
            width: 50%;
            justify-content: center;
            align-items: center;
            display: flex;
            img {
              width: 50%;
              height: 90%;
            }
          }
        }
      }
    }
  }

  // part of header End

  // part of main Start
  main {
    .wrapper {
      max-width: 1400px;
      margin: auto;
      padding-top: 64px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      h1 {
        margin: 0;
        padding-bottom: 36px;
        display: flex;
      }
      // part of icon
      .icon {
        display: flex;
        flex-direction: row;
        gap: 36px;
        align-items: center;
        justify-content: center;
        padding-bottom: 8px;
        p {
          margin: 0;
          padding: 0;
          font-size: 17px;
          font-weight: 300;
        }
        .iconcheck {
          height: 28px;
          width: 28px;
          color: green;
          font-weight: bold;
          font-size: 18px;
        }
        .iconcloud {
          height: 28px;
          width: 28px;
          color: chocolate;
        }
        .iconbolt {
          height: 28px;
          width: 28px;
          color: blue;
          font-weight: bolder;
        }
        .iconstack {
          height: 28px;
          width: 28px;
          color: blueviolet;
          font-weight: bolder;
        }
        div {
          align-items: center;
          justify-content: center;
          display: flex;
          gap: 8px;
        }
      }
      // part of card Start
      .card {
        display: flex;
        padding: 24px;
        gap: 32px;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        .a1 {
          background-image: url(/images.png);
          height: 450px;
          width: 350px;
          background-size: cover;
          justify-content: center;
          display: flex;
          position: relative;
          border: 1px solid grey;
          .top {
            position: absolute;
            top: 20px;
            h1 {
              color: rgba(255, 255, 255, 0.866);
              font-size: 48px;
              font-weight: bolder;
            }
            p {
              color: rgba(255, 255, 255, 0.888);
              font-size: 20px;
            }
          }
          .bottom {
            p {
              font-weight: bold;
            }
            position: absolute;
            bottom: 84px;
            display: flex;
            flex-direction: column;
            gap: 12px;
            .color {
              color: chocolate;
              display: flex;
            }
            div {
              display: flex;
              justify-content: center;
              align-items: center;
              gap: 8px;
              font-weight: bold;
              p {
                margin: 0;
              }
            }
          }
          button {
            display: flex;
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 46px;
            align-items: center;
            justify-content: center;
            background-color: rgba(253, 135, 50, 0.794);
            border: none;
            font-size: 18px;
            font-weight: bold;
            color: rgba(255, 255, 255, 0.94);
          }
        }
      }
      // part of card end

      // part of   cardplan Start
    }
    .cardbottom {
      background-color: #f2f4f7;
      .wrapper {
        max-width: 1400px;
        margin: auto;
        padding: 8px;
        .cardplan {
          padding: 8px;
          display: flex;
          width: 100%;
          .left {
            padding: 64px;
            width: 50%;
            h1 {
              font-weight: bold;
              font-size: 42px;
              color: rgba(0, 0, 0, 0.686);
            }
            p {
              font-size: 24px;
              color: rgba(0, 0, 0, 0.787);
              font-weight: bold;
            }
            a {
              text-decoration: none;
              color: blueviolet;
              font-weight: bold;
            }
            button {
              background-color: rgba(210, 105, 30, 0.842);
              font-size: 18px;
              font-weight: bold;
              height: 48px;
              width: 150px;
              color: rgba(255, 255, 255, 0.831);
              border: none;
            }
          }

          .right {
            width: 50%;
            flex-direction: column;
            display: flex;
            .data {
              display: flex;
              padding: 24px 0;
              .a11 {
                background-color: midnightblue;
                display: flex;
                height: 130px;
                width: 130px;
                border-radius: 100%;
                align-items: center;
                justify-content: center;
                padding: 0;

                img {
                  height: 100px;
                  width: 100px;
                }
              }
              div {
                display: flex;
                flex-direction: column;
                padding: 16px 16px 16px 64px;
                gap: 24px;
                width: 65%;
                h1 {
                  margin: 0;
                  padding: 0;
                  font-size: 32px;
                  color: rgba(210, 105, 30, 0.823);
                  font-weight: bold;
                }
                p {
                  font-weight: bold;
                  margin: 0;
                  font-size: 18px;
                }
              }
            }
          }
        }

        // part of   cardplan End
      }
    }

    .wrapperbottom {
      max-width: 1400px;
      margin: auto;
      .bottom {
        display: flex;
        position: relative;
        .left {
          width: 50%;
          display: flex;
          flex-direction: column;
          padding: 124px 150px 108px 124px;
          height: 650px;
          h1 {
            font-size: 36px;
            font-weight: bold;
            color: rgba(0, 0, 0, 0.695);
          }
          p {
            font-weight: bold;
            font-size: 20px;
            color: rgba(0, 0, 0, 0.631);
          }
        }
        .right {
          width: 50%;
          display: flex;
          position: relative;
          .slid {
            display: flex;
            height: 400px;
            width: 350px;
            background-color: rgba(255, 127, 80, 0.651);
            position: absolute;
            right: 30px;
            top: 84px;
            color: white;
            align-items: center;
            justify-content: center;
            padding: 24px;
            p {
              font-size: 20px;
            }
          }
        }
        .slider {
          height: 474px;
          width: 464px;
          background-color: rgba(224, 108, 66, 0.864);
          position: absolute;
          padding: 46px;
          display: flex;
          left: 564px;
          top: 50px;
          align-items: center;
          justify-content: center;
          p {
            font-size: 24px;
            padding: 16px;
            color: rgba(255, 255, 255, 0.81);
          }
        }
      }
    }
  }
  // part of footer start
  footer {
    background-color: rgba(219, 218, 218, 0.633);
    .wrapper {
      display: flex;
      max-width: 1400px;
      margin: auto;
      .foot {
        display: flex;
        flex-direction: column;
        gap: 16px;
        padding: 46px;
        width: 25%;
        h1 {
          color: rgba(153, 50, 204, 0.748);
          margin: 0;
        }
        p {
          padding-left: 26px;
          margin: 0;
          font-size: 20px;
          font-weight: bold;
          color: rgba(0, 0, 0, 0.624);
        }
      }
    }
  }
  // part of footer End
}
// part of main Start

@media only screen and (max-width: 600px) {
  body {
    // part of header @media Start

    .background {
      background: none;

      .wrapper {
        background-image: linear-gradient(
          to right,
          #0000ffc7,
          rgb(175 0 255 / 63%)
        );
        header {
          nav {
            justify-content: space-between;
            display: flex;

            .buttonimg {
              display: block;
              height: 48px;
              width: 48px;
              font-size: 16px;
              padding: 0;
              font-weight: bold;
              border: none;
              background: none;
            }
            .right {
              // position: absolute;
              // right: 20px;
              gap: 24px;
              display: flex;
              align-items: center;
              justify-content: center;
              position: static;

              a {
                display: none;
              }

              button {
              }
            }
          }
          .navbottom {
            display: flex;
            flex-direction: column;
            padding: 0;
            justify-content: center;
            .left {
              // padding: 16px 0 0 48px;
              padding: 24px;
              width: 100%;
              display: flex;
              justify-content: center;
              align-items: center;
              h1 {
              }
              p {
              }
              .btntop {
                // height: 48px;
                display: flex;
                gap: 24px;
                // flex-direction: column;
                button {
                }
                button:hover {
                }
              }
              .phone {
                display: block;
                width: 100%;
                img {
                  height: 100%;
                  width: 100%;
                }
              }
            }
            .right {
              display: none;
            }
          }
        }
      }
    }
    // part of header @media End

    // part of main @media Start
    main {
      .wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        h1 {
          padding-left: 64px;
        }
        .icon {
          flex-direction: column;
          padding-bottom: 24px;
        }
      }
      .cardbottom {
        .wrapper {
          .cardplan {
            flex-direction: column;
            width: 100%;
            .left {
              h1 {
                width: 100%;
                padding: 0;
              }
              width: 100%;
              padding: 12px;
            }
            .right {
              flex-direction: column;
              padding: 12px;
              width: 100%;

              .data {
                flex-direction: column;
                display: flex;
                align-items: center;
                justify-content: center;
                div {
                  width: 100%;
                  padding: 0;
                }
              }
            }
          }
        }
      }
      .wrapperbottom {
        .bottom {
          flex-direction: column;
          display: flex;
          position: relative;
          .slider {
            display: none;
          }
          .left {
            // position: static;
            width: 100%;
            display: block;
            padding: 16px;
            height: 100%;
          }
          .right {
            // position: static;
            display: block;
            width: 100%;
            padding: 16px;
          }
        }
      }
    }

    // part of main @media End

    footer {
      .wrapper {
        display: block;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-top: 500px;

        .foot {
          // position: absolute;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 100%;
        }
      }
    }
  }
}
